<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FonotekaV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FonotekaV2.Properties.Settings>
            <setting name="AppServer" serializeAs="String">
                <value>192.168.200.174</value>
            </setting>
            <setting name="AppDB" serializeAs="String">
                <value>fonoteka</value>
            </setting>
            <setting name="DBuser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DBpassword" serializeAs="String">
                <value>std12345ok</value>
            </setting>
            <setting name="Dbport" serializeAs="String">
                <value>3306</value>
            </setting>
        </FonotekaV2.Properties.Settings>
    </userSettings>
</configuration>